[Unit]
Description=Runs visual break reminder every 20 minutes

[Timer]
Unit=visual-break.service
OnBootSec=20m
OnUnitActiveSec=20m

[Install]
WantedBy=timers.target
